
/* general parameter of shinydashboard*/

/*
.skin-black .main-header {
  position:fixed;
}
*/

/*
.skin-black .main-sidebar {
  position:fixed;
}
*/
/*
.skin-black .content-wrapper, .right-side {
 background-color:#1a1a1a;
}
*/

.content-wrapper {
 background-color:white; 
}

.SlideBox{
  background-color:whitesmoke;
}




