
body{ /* Normal  */
      font-size: 11px;
      counter-reset: paragraph;
      font-family: "Times New Roman"
  }
h1.title {
  font-size: 11px;
  color: Black;
  font-weight: bold;
}
h1 { /* Header 1 */
  font-size: 11px;
  color: Black;
  font-weight: bold;
}

h2 { /* Header 2 */
    font-size: 11px;
    color: Black;
    font-weight: bold;
    font-style:italic;
}

h3 { /* Header 3 */
  font-size: 11px;
  color: Black;
  font-style: italic;
}

h4 { /* Header 4 */
  font-size: 11px;
  color: Black;
  font-style: italic;
}

code.r{ /* Code block */
    font-size: 10px;
}

.definition{
 border: 1px solid black;
 background-color:WhiteSmoke;
 font-size:9px;
}

.showopt {
  background-color: #004c93;
  color: #FFFFFF; 
  width: 100px;
  height: 20px;
  text-align: center;
  vertical-align: middle !important;
  float: right;
  font-family: sans-serif;
  border-radius: 8px;
}

.showopt:hover {
    background-color: #dfe4f2;
    color: #004c93;
}

pre.plot {
  background-color: white !important;
}


table, td, th {
  border: none;
  padding-left: 1em;
  padding-right: 1em;
  min-width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  width:80%;
}

.n_paragraph p {
}

.n_paragraph p:before {
    color: Black;
    content: counter(paragraph)'.';
    counter-increment: paragraph;
}

.tab {
    margin-left: 50px; 
}

.img_pres {
 width: 900px;
 height: 300px;
 align: center;
}

.toggle {
  height: 1.55em;
  overflow-y: hidden;
  background-color:"blue";
}

.toggle.open {
  height: auto;
}


